*{
    margin: 0;
    box-sizing: border-box;
}
body {
    color: #707070;
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif; 
}

.main{
    max-width: 900px;
    margin: 40px auto;  
}

.section{
    margin-bottom: 20px;
}

header{
    display: flex;
    align-items: center;
}

header .avatar{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 25px;
    box-shadow: 0px 12px 6px rgba(0, 0, 0, 0.16);
}

header h1{
    font-size: 64px;
}

header .user-data{
    display:flex;
    align-items: center;
}

header .user-data .email{
    text-decoration:none;
    color:inherit;
}

header .user-data .role{
    color: #fff;
    background-color: #4585FF;
    padding: 5px 10px;
    font-size: 18px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16); 
    border-radius: 10px;
    margin-left: 20px;
}

.section.description p{
    text-indent: 50px;
    margin-bottom: 15px;
}
.section.description .contact{
    display: flex;
    justify-content: space-between;
}

.section .description{
    margin-bottom: 15px;
}

.section.skills .skills-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.section.skills .skills-list .skill-item{
    display: flex;
    border:1px solid black;
    border-radius: 4px;
    margin-bottom: 10px;
    align-items: center;
    padding: 7px;
    width: 49%;
}

.section.skills .skills-list .skill-item .progress{
    font-size: 64px;
    margin-right: 10px;
}

.section.



    
section .boite-comptence{
    
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
}
section .boite-comptence .block-competence{
    
    display: flex;
    
}

section .boite-comptence .block-competence  .chiffre{
    width: 35%;
    height: 100%;
    font-size: 45px;
    text-align: center;
    
      
}
section .boite-langue .block-langue{
    border-width :1px 1px 1px 1px;
    border-color: black;
    border-style: solid;
    border-radius: 4px;
    margin: 10px 5px 5px 0px;
    display: flex;
}

section .boite-langue{
    
    display: flex;
    justify-content: flex-start;

} 

section .boite-comptence .block-competence .competence{
    font-size: 15px;   
}

section .boite-experience{
    display: flex;  
}
section .boite-experience .block-experience{
    border-width :0px;
    border-color: black;
    border-style: solid;
    margin: 0px 7px 7px 0px;
    display: flex;
    
}
section .boite-experience .block-experience hr{
    width: 40px;
}

section .boite-experience .block-experience{
    margin-bottom: 20px;
}
section .block-langue{
    margin-bottom: 20px;
}