*{
    margin: 0;
    box-sizing: border-box;
}
body {
    color: #707070;
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif; 
}

.main{
    max-width: 900px;
    margin: 40px auto;  
}

.section{
    margin-bottom: 20px;
}

header{
    display: flex;
    align-items: center;
}

header .avatar{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 25px;
    box-shadow: 0px 12px 6px rgba(0, 0, 0, 0.16);
}

header h1{
    font-size: 64px;
}

header .user-data{
    display:flex;
    align-items: center;
}

header .user-data .email{
    text-decoration:none;
    color:inherit;
}

header .user-data .role{
    color: #fff;
    background-color: #4585FF;
    padding: 5px 10px;
    font-size: 18px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16); 
    border-radius: 10px;
    margin-left: 20px;
}

.section.description p{
    text-indent: 50px;
    margin-bottom: 15px;
}
.section.description .contact{
    display: flex;
    justify-content: space-between;
}

.section .description{
    margin-bottom: 15px;
}

.section.skills .skills-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.section.skills .skills-list .skill-item{
    display: flex;
    border:1px solid black;
    border-radius: 4px;
    margin-bottom: 10px;
    align-items: center;
    padding: 7px;
    width: 49%;
}


.section.skills .skills-list .skill-item .progress{
    font-size: 64px;
    margin-right: 10px;
}

.langs .description{
margin-top: 10px;
}

.langs .langs-list{
    display: flex;
    justify-content: flex-start;
    
}

.langs .langs-list .lang-item{
    display: flex;
    align-items: center;
    margin-right: 20px;
    border: 1px solid #707070;
    padding: 10px;
    border-radius: 8px;
}
.langs .langs-list .lang-item span{
    margin-left: 10px;
}

.langs-list .lang-item .flag{
    width: 50px;
    height: 30px;
    border-radius: 8px;
}

.skills .skill-item:hover,
.langs .langs-list .lang-item:hover {
    border: none;
    background-color: #ACC2EA;
    color: #fff;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.expert .expert-list {
    margin-top: 20px;
    display: flex;
}

 .expert .expert-item {
    margin-right: 20px;
    width: 25%;
}

.expert .expert-item .tagline {
    align-items: center;
    display: flex;
}

.expert .expert-item .tagline .dot {
    width: 20px;
    height: 20px;
    background-color: #707070;
    border-radius: 50%;
}

.expert .expert-item .tagline hr {
    width: calc(100% - 30px);
    margin-left: 10px;
    height: 2px;
    border: none;
    background-color: #707070;
}

.expert .expert-item .tag-data {
    margin-top: 10px;
    font-weight: 300;
    font-size: 14px;
}

.expert .expert-item:hover .tagline hr,
.expert .expert-item:hover .dot {
    background-color: #448E1D;
    color: #448E1D;
} */



.form form {
    margin-top: 10px;
}

.form .form-row {
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
}

.form .form-row .row-item {
    width: 49%;
}

.form .input-email {
    margin-bottom: 20px;
}

.form input:not([type=radio]), .form select, textarea {
    width: 100%;
    height: 53px;
    border-radius: 8px; 
    border: 1px solid #707070;
    padding: 0px 12px;  
}

.form input:focus,
.form input:focus-visible,
.form input:focus-within,
.form input::-moz-focus-inner {
    border: 1px solid #4595F4;
    outline: none;
    outline-color: #4595F4;
}

.form .form-row .select{
width: 49%;
}

.form .radios {
    display: flex;
    width: 49%;
    align-items: center;
}

.form .radios .radio-bloc {
    margin-right: 20px;
    display: flex;
    align-items: center;
}
.form .radios input {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.form textarea {
    height: auto;
    padding: 12px;
}

.form .error-message {
    margin-top: 10px;
    color: #FF0000;
    font-size: 16px;
}

.form .button .btn-submit {
    height: 53px;
    border-radius: 8px;
    background-color: #4595F4;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    border: none;
    margin-top: 20px;
    padding: 0px 25px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    cursor: pointer;
}

.form .button .btn-submit:hover {
    background-color: #2680ee;
}

.copyright {
    margin-top: 40px;
    font-size: 16px;
    font-weight: 300;
}

.form i{
    width:27px;
    height: 27px;
    position: absolute;
    top: 15px;
    right:10px;
    visibility: hidden;
}

.form small{
position: absolute;
bottom: 0;
left: 0;
color: #FF0000;
visibility: hidden;
}

.form .row-item, .mail, .select, .comment
{
  margin-bottom: 10px;
  padding-bottom: 20px; 
  position:relative 
}

.form .success input{
border-color: #448E1D;
visibility: visible;
}

.form .error input{
border-color: #FF0000;
visibility: visible;
}

.form-control.success i.fa-check-circle
{
color:#448E1D;
visibility: visible;
}

.form-control.error i.fa-exclamation-circle
{
color: #FF0000;
visibility: visible;
} 

.form-control .error small
{
color: #FF0000;
visibility: visible;
 }


   

